:root {
  --main-text-color: #757575;
  --secondery-text-color: #212121;
  --accent-color: #2196F3;
  --main-background-color: #E5E5E5;
  --secondary-background-color: #2F303A;
  --footer-text-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
}

:hover,
:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
}

.logo-web {
  color: #2196F3;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #FFFFFF;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-projects-icon {
  position: relative;
  overflow: hidden;
}

.list-projects-icon:hover .overlay {
  transform: translateY(0%);
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--footer-text-color);
  text-decoration: none;
}

.button-list {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--secondery-text-color);
  background: #F5F4FA;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}

.button-list:hover, .button-list:focus {
  color: #FFFFFF;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-projects-button:not(:last-child) {
  margin-right: 8px;
}

.container-button {
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 580px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-link {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}

.modal-link:hover .modal-link-icon,
.modal-link:focus .modal-link-icon {
  fill: #2196F3;
}

.modal-link-icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-modal-window {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-list-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-list-label {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-list-input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list-input:hover, .modal-list-input:focus {
  border: 1px solid #2196F3;
}

.modal-list-input:focus + .modal-list-user-icon {
  fill: #2196F3;
}

.modal-list-user-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  width: 18px;
  height: 18px;
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list-item:hover .modal-list-user-icon {
  fill: #2196F3;
}

.modal-comments {
  display: flex;
  flex-direction: column;
}

.comments-user-field {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments-user-field:hover, .comments-user-field:focus {
  border: 1px solid #2196f3;
}

.comments-user-field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
  transition: border, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-icon:focus, .modal-checkbox-icon:hover {
  border: solid 2px #2196F3;
}

.modal-checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-checkbox-input:checked + .modal-checkbox-icon {
  fill: #2196F3;
  border: solid 2px #2196F3;
  background-color: #2196F3;
}

.modal-checkbox-icon {
  fill: #FFFFFF;
  border: solid 2px #212121;
  border-radius: 2px;
}

.modal-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 4px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-checkbox-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196F3;
  margin-left: 5px;
}

.modal-window-btn {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.header {
  border: 1px solid #ECECEC;
  background-color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondery-text-color);
  text-decoration: none;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.link-studio {
  position: relative;
}

.link-studio::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.auth-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.container-header,
.header__container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  display: flex;
  align-items: center;
}

.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav-icon-envelope {
  height: 12px;
  width: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.auth-nav__item:hover .auth-nav-icon-envelope,
.auth-nav__item:focus .auth-nav-icon-envelope {
  fill: currentColor;
}

.auth-nav-icon-smartphone {
  height: 16px;
  width: 10px;
  fill: currentColor;
  margin-right: 10px;
}

.auth-nav__item:hover .auth-nav-icon-smartphone,
.auth-nav__item:focus .auth-nav-icon-smartphone {
  fill: currentColor;
}

.title {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 480px) {
  .title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.title-button {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  margin-top: 30px;
  min-width: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  justify-content: center;
  border: none;
}

.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  padding-bottom: 118px;
  padding-top: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-background-img-mobile.jpg");
  background-size: cover;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-background-img-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-background-img-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-background-img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-background-image.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main-background-image@2x.jpg");
  }
}

.list-advantages-icons__iten {
  margin-bottom: 30px;
}

.list-advantages-icons__icon {
  height: 70px;
  width: 70px;
}

.title-third-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondery-text-color);
  margin-bottom: 50px;
}

.container-example {
  display: flex;
  flex-direction: column;
}

.list-example {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  margin-left: -30px;
}

.list-example > .list-example__icon {
  flex-basis: calc(90 / 3 - 30px);
  margin-top: 50px;
  margin-left: 30px;
}

.list-example__icon {
  position: relative;
}

.photo-title-box {
  position: absolute;
  left: 0;
  bottom: 0;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-image: url(../images/bg.png);
  width: 370px;
  height: 70px;
}

.title-photo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondery-text-color);
}

.profession {
  text-align: center;
  margin-top: 10px;
}

.section-team {
  background-color: #F5F4FA;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.list-team > .list-team__info {
  flex-basis: calc(120 / 4 -30px);
  margin-left: 30px;
  margin-top: 50px;
}

.list-team__info {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
}

.information-about-team {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.title-four-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.list-client {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.list-client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}

.list-client__link:hover, .list-client__link:focus {
  cursor: pointer;
  border: 1px solid #2196F3;
}

.list-client__link:hover .list-client__icon,
.list-client__link:hover .list-client__icon, .list-client__link:focus .list-client__icon,
.list-client__link:focus .list-client__icon {
  fill: var(--accent-color);
}

.list-client__icon {
  width: 106;
  fill: #AFB1B8;
}

.list-contact__address,
.list-contact__contact {
  color: var(--footer-text-color);
  text-decoration: none;
  font-style: normal;
}

.list-contact__contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  display: flex;
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.logo-address {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 70px;
}

.list-contact {
  margin-top: 20px;
}

.list-contact__item:not(:first-child) {
  margin-top: 9px;
}

.footer-social-link {
  margin-right: 93px;
}

.title-social-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-top: 20px;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.footer-social-list__icon {
  height: 20px;
  width: 20px;
}

.footer-social-list__link,
.footer-social-list__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-list__link:hover, .footer-social-list__link:focus,
.footer-social-list__link:hover,
.footer-social-list__link:focus {
  background-color: var(--accent-color);
}

.footer-social-list__icon {
  fill: #FFFFFF;
}

.footer-title-subscribe {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__form-subscribe {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.footer-email__ipt {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  margin-right: 12px;
  padding: 15px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-email__ipt:hover, .footer-email__ipt:focus {
  border: 1px solid #2196F3;
}

.footer-btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-btn-subscribe__icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 10px;
}

.title-project {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  color: var(--secondery-text-color);
}

.list-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.list-projects > .list-projects-icon {
  flex-basis: calc(90 / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.content-icon {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

.about-projects {
  margin-top: 4px;
}

.list-projects-icon:hover, .list-projects-icon:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */