 .container-header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
   
    &__mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    &__mobile-menu {
        height: 40px;
        width: 40px;
        fill: #212121;
    }
}

@media screen and (max-width: 767px) {
    .site-nav, 
    .auth-nav {
        display: none;
}
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .site-nav,
    .header__container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__mobile-menu-btn {
        display: none;
    }

    .site-nav__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondery-text-color);
        text-decoration: none;
  
        &:hover, 
        &:focus {
            color: var(--accent-color);
}
}

    .site-nav__item{

         &:not(:last-child) {
              margin-right: 50px;
    }    
}
    .auth-nav__link {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        text-decoration: none;

       &:hover, 
       &:focus {
        color: var(--accent-color);
}
}

    .site-nav {
        margin-left: 88px;
    }

    .link-studio {
        position: relative;

        &::after {
            content: "";
            display: block;

            position: absolute;
            left: 0;
            bottom: -33px;
       
            width: 100%;
            height: 4px;
            background: #2196F3;
            border-radius: 2px;

}
}

    .auth-nav-icon-envelope {
        height: 12px;
        width: 16px;
        fill: currentColor;
        margin-right: 10px;

        .auth-nav__item:hover &,
        .auth-nav__item:focus & {
            fill: currentColor;
}
}

    .auth-nav-icon-smartphone {
        height: 16px;
        width: 10px;
        fill: currentColor;
        margin-right: 10px;

        .auth-nav__item:hover &,
        .auth-nav__item:focus & {
            fill: currentColor;
    }
  }

}

@media screen and (min-width: 1200px) {
    .header {
        padding-top: 24px;
        padding-bottom: 25px;
}
    .auth-nav__link {
        display: flex;
        align-items: center;
}

    .auth-nav__link {
        font-size: 14px;
        line-height: 1.14;
    
}
    .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .auth-nav__item {

        &:not(:last-child) {
            margin-right: 30px;
    }    
}
}



/