.title-project {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--secondery-text-color);
    
}

.list-projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

        & > .list-projects-icon {

            flex-basis: calc(90 / 3 - 30px);
            margin-left: 30px;
            margin-top: 30px;
}
   
}


.content-icon {
    padding: 20px 24px;
    border: 1px solid #EEEEEE; 
}

.about-projects {
    margin-top: 4px;
}

.list-projects-icon {
    
    &:hover,    
    &:focus {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}