.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
    
}

.logo-web {
    color: #2196F3;
}
